.inspector .q-toolbar {
  min-height: 24px;
  background-color: #00695c80
}

.inspector .q-toolbar__title {
  font-size: 14px;
}

.inspector .q-toolbar__title:first-child {
  padding-left: 12px;
}

.inspector .realm-select {
  padding: 0 12px;
  background-color: #00847373;
}

.inspector-realm-menu .q-item__label--header {
  padding: 6px 12px;
  background-color: #3a3a3a80;
}

.inspector-realm-menu .q-item {
  padding: 6px 12px;
  min-height: 24px;
  background-color: #56565680;
}

.inspector .q-tabs {
  background-color: rgba(0,0,0,0.17)
}

.inspector .q-tab-panels {
  background-color: transparent
}

.inspector .q-tab-panel {
  padding: 0
}

.inspector {
  background-color: rgba(68, 68, 68, 0.5);
  color: #eee;
}

.inspector .q-item {
  padding: 0;
  min-height: 24px;
  border-top: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  margin-bottom: -1px;
}

.inspector .prop-item {
  position: relative;
}

.inspector .prop-display {
  padding: 0 12px
}

.inspector .prop-label {
  padding: 4px 12px;
  color:#ccc;
}

.inspector .col-input {
  background-color: rgba(0,150,136,0.17)
}

.inspector .prop-colors .empty {
  line-height: 2em;
}

.inspector .prop-colors .chips {
  padding: 6px 0
}

.inspector .prop-colors .chips .q-btn {
  padding: 0;
  line-height: 20px;
  width: 20px;
  height: 20px;
  min-height: 20px;
}

.inspector .prop-colors .chips .pipe {
  border: 1px solid #ddd;
  max-width: 142px;
}

.inspector .prop-colors .color-picker-container {
  margin-top: -7px;
}

.inspector .prop-colors .color-picker {
  max-width: 220px;
  margin-left: -60px;
}

.inspector .drawer {
  position: fixed;
  width: 160px;
  height: 100%;
  opacity: 0;
  left: 0;
  top: 0;
  z-index: 1;
}

.inspector .front {
  position: absolute;
  width: 100%;
  min-height: 540px;
  z-index: 100;
}

.inspector .drawer.active {
  transition: all 0.3s;
  opacity: 1;
  left: -160px;
}

.inspector .q-color-picker {
  width: 160px;
}

.inspector .q-color-picker .q-panel {
  overflow: hidden;
}

.inspector .q-color-picker .q-tab {
  padding: 0;
}

.inspector .prop-json .error {
  margin-top: -32px;
}

.q-menu .q-item--active {
  color: #009688;
}

.inspector .q-checkbox__bg {
  border-radius: 0;
}